body {
    background-image: url(../../img/logo.png);
    background-repeat: no-repeat;
    background-size:cover;
}

#formulaire{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: solid 1px  black;
    background-color:white;
    border-radius: 10px;
}

.champ {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 3em;
}

#submit {
    margin-bottom: 2em;
        
}

#titre {
    margin-top: 1em;
    margin-left : 3em;
    font-weight: bolder;
}

input[type=text]
{
    border-radius: 10px;
    border: solid 1px orange;
}

input[type=submit]
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}